@{ 
    Layout = "_Layout";
}

@section header {
    <h1>Explore our world your way</h1>
    <a href="/tours.htm" title="Find your tour!"><h2>Find your tour</h2></a>

}


<article id="mainArticle">
    <h1>Tour Spotlight</h1>
    <p class="spotlight"><br /> <span class="accent"><a href="https://youtu.be/6GeUMcbEPH0" title="The Hanging Gardens of Babylon">tour details</a></span></p>
    <h1>Explorer's Podcast</h1>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/I1Hbht4iNQg" frameborder="0" allowfullscreen></iframe>
    <p class="videoText">Explore Babylon in 3D and how big the city was .</p>
</article>